# Django's pycache folders
__pycache__/
*.py[cod]

# Django migrations folder
*/migrations/*

# Django db
*.sqlite3
/static/
# User specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Environment files
.env
.venv

.env.*

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS system files
.DS_Store

# Linux system files
*~

# Windows system files
Thumbs.db
